body {
  margin: 2em;
  font-family: sans-serif;
  color: white;
  background:
    linear-gradient(180deg, #5AE5C8 0%, #5BCFE8 100%), #FFFFFF;
}


header>h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.button {
  margin: 1rem;
  font-size: 1rem;
  background-color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  /* TRBL */
  padding: .8em 2.2em;
  border-radius: .8em;
  box-shadow:8px 8px 32px #00000044;
}